<!DOCTYPE html>
<html>
<head>
    <title>Earnings Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2 class="mb-4">Enter Ticker Symbol</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.ticker.id_for_label }}">Ticker:</label>
            {{ form.ticker }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>