<!DOCTYPE html>
<html>
  <head>
    <title>Stocks Service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center">Welcome to Stocks Service</h1>
      <p class="text-center">Click the link below to see earnings information:</p>
      <div class="d-flex justify-content-center">
        <a href="/earnings/" class="btn btn-primary">Earnings</a>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>